.about {
    padding-left: 250px;
    color: #fff;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    max-width: 350px;
}

.about > h1 {
    font-size: 35px;
}

.about > p {
    font-size: 25px;
    text-align: justify;
}

.img-container {
    background-color: #BF7C34;
    width: 550px;
    height: 450px;
    border-radius: 50%;
    transform: rotate(-45deg) translateY(-50%);
    transform-origin: top;

    position: absolute;
    right: 200px;
    top: 50%;
}