.sidebar {
    height: 100vh;
    width: 150px;
    background-color: #202B39;

    /* Centering */
    flex-direction: column;
    display: flex;
    justify-content: space-between;

    position: fixed;

    z-index: 1;
}

.sidebar > a {
    text-decoration: none;
}

.home-button {
    background-color: #000;
    height: 200px;
    width: inherit;
    color: #fff;
    text-align: center;

    transition: background-color 0.25s ease-in-out;
}

.home-button:hover {
    background-color: #BF7C34;
}

.home-button > span {
    font-size: 120px;
    
}

.home-button > p {
    font-size: 20px;
    margin: 0 10px;
}

.nav-links > a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    border-top: 1px solid #BF7C34;

    display: flex;
    justify-content: center;

    /* Animation */
    transition: background-color 0.25s ease-in-out;
}

.nav-links > a:last-child {
    border-bottom: 1px solid #BF7C34;
}

.nav-links > a:hover {
    background-color: #BF7C34;
}

.external-links {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.external-links > a {
    font-size: 30px;
    color: #fff;
    padding: 0 10px;
    transition: color 0.25s ease-in-out;
}

.external-links > a:hover {
    color: #BF7C34;
}

.active {
    background-color: #BF7C34;
}